@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 600px) {
    body {
        height: 100%;
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        background: #003f6e;
    }
    
    nav .logo {
        margin-top: 4px;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
    }
    
    nav .links {
        display: flex;
    }
    
    nav .links a {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
        text-decoration: none;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    
    nav .links a:hover {
        padding: 10px;
        background: #1e4f75;
        border-radius: 10px;
    }
    
    nav .espacio {
        margin: 0;
        padding: 0;
    }
    
    .active {
        padding: 10px;
        background: #1e4f75;
        border-radius: 10px;
    }
    
    .imagen {
        display: flex;
        width: 100%;
        height: 400px;
    }
    
    .containers {
        display: flex;
        width: 100%;
        height: 742px;
        background: #003f6e;
    }
    
    .container1 {
        border-radius: 10px;
        margin-right: 25px;
        margin-left: 50px;
    }
    
    .container2 {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-right: 50px;
        margin-left: 25px;
        align-items: center;
    }
    
    .textos {
        display: flex;
        background: #1e4f75;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        border-radius: 10px;
        margin-top: 100px;
        width: 100%;
    }
    
    .textos h1 {
        text-transform: uppercase;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .texto p {
        color: #fbfbfb;
        font-family: "Kanit", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 20px;
    }
    
    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        width: 220px;
        border-radius: 20px;
        padding-right: 2px;
        padding-bottom: 2px;
        background-color: #fbfbfb;
    }
    
    .container2 a{
        width: 100%;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border-color: #fbfbfb;
        border-style: solid;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-size: 15px;
        background-color: #003f6e;
        font-style: normal;
        color: #fbfbfb;
        text-transform: uppercase;
    }
    
    .boton:hover {
        background: #92d0fd;
    }
    
    .container2 a:hover {
        border-color: #92d0fd;
    }
    
    .barra {
        width: 100%;
        height: 80px;
        background: #003157;
    }
}