<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FULLNESS</title>
    <link rel="icon" href="/img/Logo.jpeg">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/servicios.css">
    <link rel="stylesheet" href="/css/mobil/servicios-mobil.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/img/Logo.jpeg" alt="" width="70px" height="70px">
            </div>
            <div class="links">
                <a href="/index.html">INICIO</a>
                <a href="" class="active">SERVICIOS</a>
                <a href="">PSICÓLOGOS</a>
                <a href="">BLOG</a>
                <a href="">HÁBLANOS</a>
            </div>
            <div class="espacio"></div>
        </nav>
    </header>
    <div class="imagen">
        <img src="/img/carrusel1.png" alt="" width="100%" height="100%">
    </div>
    <div class="containers">
        <div class="container1">
            <div class="textos">
                <h1>Cuentanos tus experiencias</h1>
                <div class="texto">
                    <p>En esta sesion queremos saber mas
                        de ti, cuales son esas vivencias que
                        te han marcado para saber asi como
                        ayudarte y como puedes servir de
                        referente a otras personas que al
                        igual que tu estan pasando por la
                        misma dificultad.</p>
                </div>
            </div>
            <div class="textos">
                <h1>Charlas</h1>
                <div class="texto">
                    <p>Te brindaremos terapia y charla con
                        psicologos los cuales te ayudaran a
                        ver las cosas de una manera diferente
                        brindandote alternativas que ayuden a
                        tu mente a mantener una estabilidad
                        que te aporte a tu salud fisica.</p>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="textos">
                <h1>Sesión de preguntas</h1>
                <div class="texto">
                    <p>
                        Aca queremos saber cuales son tus
                        inquietudes, cuales son las dudas que
                        te surgen sobre mantener una buena
                        salud mental o como podemos empezar
                        a preocuparnos por nuestra estabilidad emocional.
                    </p>
                </div>
            </div>
            <div class="boton">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeF2zNiqAoMl4lP_0ZAzVpeQX2XNCZMq953shONZDZEDftcSg/viewform?usp=sharing" target="_blank">Inscribete aqui</a>
            </div>
        </div>
    </div>
    <div class="barra"></div>
</body>
</html>